body{
    background-color: #0D1A2D;
    font-family: Arial, Helvetica, sans-serif;
}

.card{
    background-color: #15273F;
    width: 400px;
    height: 700px;
    display: table-column;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: 15%;
    left: 35%;
    border-radius: 5%;
    text-align:left;
    box-shadow:10px 5px 5px #0E1629;
}
.img1{
 width: 350px;
 height: 350px;
 margin: 25px;
 border-radius: 5%;
}
.t1{
    color: #fff;
    margin-left: 18px;
}
.t2{
    color: #4B607F;
    margin-left: 18px;
    margin-right: 18px;
}
.icon1{
    margin-left: 18px;
    height: 25px;
}
.icon2{
    margin-left: 150px;
    height: 25px;
}
.verde{
    color: #3EB2BF;
}
.cinza{
    color: #7E95B5;
}
.linha{
    width: 400px;
    height: 2px;
    margin-top:20px;
    background-color: #1F3149;
}
.foto{
    width: 35px;
    margin-left: 18px;
    margin-top: 18px;
}
.azul{
    color: #4B607F;
}
.credito{
    margin-left: 65px;
    margin-top: -30px;
}